*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: border-box;}
.icon {
   width: 1.1em; height: 1.1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
body {
  font-size: 14px/1.5 Arial;
  background: #efefef;
  color: #666;
  padding: 10px 0;
}



/*基础布局*/
.layout {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
header {
  width: 100%;
  background: #3c3c3c;
  padding: 60px 0 10px 0;
}
aside {
  width: 240px;
  background: #fff;
}
main {
  flex: 1;
  background: #fff;
  /* height: calc(100vh - 137px); */
}
@media (max-width: 768px) {
 aside {
    width: 100%;
    height: 100px;
    background: green;
  }
  main {
    background: orange;
    height: calc(100vh - 237px);
  } 
}


/*内容布局*/
header {
  text-align: center;
  color: #fff;
}
header>h1 {
  font-size: 30px;
  letter-spacing: 10px;
  padding-left: 10px;
  margin-bottom: 4px;
}
header>p {
  font-size: 14px;
  margin-bottom: 4px;
}

aside {
  border-right: 1px solid #ccc;
}
aside .aside-layout {
  width: 90%;
  height: calc(100% + 75px);
  margin: 0 auto;
  margin-top: -75px;
}
aside .avatar {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: skyblue;
  margin: 0 auto;
}
section {
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  padding-bottom: 20px;
}
section h2 {
  color: #5c99ca;
  font-size: 16px;
  margin-bottom: 14px;
}
section dl {
  display: flex;
  flex-wrap: wrap;
  font: 14px/1.5 Arial;
}
section dt {
  width: 50%;
}
aside dt span {
  float: right;
}
section dd {
  width: 50%;
  padding-left: 10px;
}
aside .skills dl {
  justify-content: space-between;
  align-items: center;
}
aside .skills dt {
  width: 30%;
}
aside .skills dd {
  height: 4px;
  background: #ccc;
  width: 60%;
  padding: 0;
}
aside .skills i {
  display: block;
  height: 100%;
  background: #000;
}
aside .concat dt {
  width: 20%;
  padding-left: 20px;
  margin-bottom: 4px;
}
aside .concat dd {
  width: 80%;
}
aside .blog {
  /* padding: 0; */
}
aside .blog a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}
aside .zhihu {
  background: #0084ff;
  color: #fff;
  letter-spacing: 4px;
}
aside .zhihu:hover {
  background: #0077e6;
}
aside .github {
  background: #24292e;
  color: #fff;
  margin-top: 10px;
}

main .main-layout {
  width: 94%;
  margin: 0 auto;
  font: 14px/1.5 Arial;
}
main section dl {
  display: block;
}
main section dt {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 14px;
}
main section dd {
  width: 100%;
}
main section ul {
  margin-left: 30px;
}
main section:last-child {
  border-bottom: none;
}
