@font-face {
  font-family: 'subset.YAD85pph3W4';
  src: url('../fonts/subset.YAD85pph3W4.woff') format('woff');
}

@font-face {
  font-family: 'subset.YAD85jmEETg';
  src: url('../fonts/subset.YAD85jmEETg.woff') format('woff');
}
