@import "common.scss";

footer {
  background: #fff;
  padding: 30px;
}

// 工作经历
footer > .company {
  color: #020202;
  flex: 1;
  @include sectionStyle;
  .company-title {
    font-size: 16px; font-weight: bold;
    display: flex; justify-content: space-between;
  }
}

// 自学项目
footer > .study {
  margin-top: 30px;
  .study-title { font-size: 16px; font-weight: bold; }
  @include sectionStyle;
}
