header {
  color: #fff;
  text-align: center;
  padding: 20px 0 30px;

  > h1 {
    font-size: 80px; font-weight: normal;
    font-family: "JS-Sirium-Normal", sans-serif;
    line-height: 80px;
    letter-spacing: 5px;
  }

  > p {
    font-size: 20px;
    font-family: "YAD85jmEETg", sans-serif;
    line-height: 20px;
  }
}
