// 页面布局
.layout {
  border: 1px solid red;
  max-width: 900px;
  margin: 0 auto;

  > header {
    width: 100%;
    background: #3c3c3c;
    padding: 50px 0 20px 0;
  }

  > section {
    border: 1px solid blue;
    height: 300px;
  }

  > footer {
    border: 1px solid orange;
    height: 300px;
  }
}
