main {
  font-family: "subset.YAD85pph3W4", sans-serif;
  display: flex;
}

// 个人信息
main > .information {
  color: #fff;
  width: 250px;
  background: rgb(165, 185, 189);
  padding: 40px 0;
  display: flex; flex-direction: column; align-items: center;
  > .avatar {
    width: 150px; height: 150px;
    border: 4px solid #fff; border-radius: 50%;
  }
  > .name {
    color: #020202; font-size: 38px;
    font-family: "subset.YAD85jmEETg", sans-serif; font-weight: normal;
    line-height: 60px;
  }
  > .job {
    color: #020202; font-size: 16px;
    line-height: 30px;
    > span {
      display: inline-block;
      width: 4em;
      white-space: nowrap;
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }
  }
  > .concat {
    margin-top: 40px;
    li {
      line-height: 30px;
      display: flex; align-items: center;
    }
    svg {
      width: 16px; height: 16px;
      margin-right: 20px;
    }
    em { font-style: normal; }
  }
  > .skills {
    align-self: stretch;
    padding: 0 20px;
    margin-top: 40px;
    h3 {
      font-size: 22px; font-weight: normal;
    }
    dl {
      line-height: 30px;
      display: flex; flex-wrap: wrap; align-items: center;
    }
    dt { width: 40%; }
    dd {
      width: 60%; height: 4px;
      background: #000;
      border-radius: 2px;
      overflow: hidden;
      > i {
        display: block;
        height: 100%;
        background: #fff;
      }
    }
  }
  > .hobby {
    margin-top: 40px;
    align-self: stretch;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    h3 {
      font-size: 22px; font-weight: normal;
      width: 100%;
    }
    .hobby-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      line-height: 30px;
      &:last-child { margin-right: 0; }
      svg { width: 50px; height: 50px; }
    }
  }
  > .wechat {
    width: 150px;
    margin-top: 40px;
  }

  /*aside .skills dl {*/
  /*  justify-content: space-between;*/
  /*  align-items: center;*/
  /*}*/

  /*aside .skills dt {*/
  /*  */
  /*}*/

  /*aside .skills dd {*/
  /*  */
  /*  */
  /*  width: 60%;*/
  /*  padding: 0;*/
  /*}*/



  //
  // ul.concat {
  //   border: 1px solid red;
  //   li {
  //     line-height: 30px;
  //   }
  //   em {
  //     font-style: normal;
  //     margin-left: 10px;
  //   }
  // }
}

main > .summary {
  color: #020202;
  flex: 1;
  background: #fff;
  padding: 40px 20px;
  .summary-title {
    display: flex;
    > .icon-box {
      width: 50px; height: 50px;
      background: #295257;
      border-radius: 50%;
      display: flex; justify-content: center; align-items: center;
      > svg {
        width: 30px; height: 30px;
      }
    }
    > h2 {
      font-weight: normal;
      font-size: 25px;
      flex: 1;
      margin-left: 20px;
      border-bottom: 1px solid red;
    }
  }
  .company {
    margin-top: 20px;
    > .company-title {
      font-size: 16px;
      display: flex; justify-content: space-between;
    }
    > .company-work {
      color: #64696d;
      padding-left: 20px; margin-top: 10px;
      > li {
        list-style: disc;
        ul {
          padding-left: 20px;
          > li {
            list-style: circle;
          }
        }
      }
    }
  }
}
